@use '../../../styles/abstracts/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-600);

  @include tablet {
    padding: var(--space-700) var(--space-150);
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-400);
    padding: var(--space-900);
  }
}

.content {
  margin-bottom: var(--space-400);

  @include desktop {
    margin-bottom: var(--space-700);
  }
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--text-4xl);
  line-height: 111%;
  color: var(--color-text-primary);
  margin-bottom: var(--space-200);


  @include tablet {
    font-size: var(--text-5xl);
    margin-bottom: var(--space-300);
  }

  @include wide {
    font-size: var(--text-6xl);
    line-height: 100%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.media {
  width: 100%;
}

.image {
  width: 100%;
  object-fit: cover;
  max-height: 526px;

  @include desktop {
    max-width: 696px;
    max-height: none;
  }
}