.image {
  display: block;
  margin: auto;
}

.title {
  margin-top: var(--space-250);
  margin-bottom: var(--space-100);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-xl);
  line-height: 140%;
}

.description {
  font-weight: var(--font-weight-regular);
  font-size: var(--text-md);
  line-height: var(--line-height-base);
}

.title,
.description {
  text-align: center;
}

.aside {
  display: flex;
  flex-direction: row;
  gap: var(--space-250);
  align-items: start;

  .image {
    margin: 0;
  }

  .title {
    margin-top: 0.625rem;
    margin-bottom: 0.5rem;
  }

  .title,
  .description {
    text-align: inherit;
  }
}